<h3> Listing all articles</h3>
<%= link_to "New Article", new_article_path %>

	<table>
		<tr>
			<th>Title</th>
			<th>Text</th>
			<th colspan="3"></th>
		</tr>
		<% @articles.each do  |article|%>
		<tr>
			<td> <%= article.title%></td>
			<td> <%= article.text%></td>
			<td><%= link_to "Show", article_path(article) %></td>
				<%#= link_to "Show", "/articles/#{article.id}" %>
			<td><%= link_to "/Edit", edit_article_path(article) %></td>
			<td><%= link_to "/Delete", article_path(article), method: :delete, data: {confirm: 'R U Sure?'}   %></td>
		</tr>
<% end %>
	</table>


